{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->
<p><h2>Linkit Go Team Members</h2></p><br />

<div class="caption" >
  <p>
    <img src={% static 'image/jean.jpg' %}  width="120" height="120" class="img-rounded" align="left">
    <h3> 	&emsp; School: NTUST</h3>
  </p>
  <p> <h3>  &emsp; Name: Shan Jean WU</h3></p>
  <p> <h3>  &emsp; Email Address : <a href="mailto:Support@example.com">jean1015jean1015@gmail.com</a><br /></h3></p>
</div><br />

<div class="caption" >
  <p>
    <img src={% static 'image/Yi_Teng.jpg' %}  width="120" height="120" class="img-rounded" align="left">
    <h3> 	&emsp; School: NTUST</h3>
  </p>
  <p> <h3>  &emsp; Name: Yi Teng Chen</h3></p>
  <p> <h3>  &emsp; Email Address : <a href="mailto:Support@example.com">always070735@gmail.com</a><br /></h3></p>
</div><br />

<div class="caption" >
  <p>
    <img src={% static 'image/Bo_Shu.jpg' %} width="120" height="120" class="img-rounded" align="left">
    <h3> 	&emsp; School: NTUST</h3>
  </p>
  <p> <h3>  &emsp; Name: Bo Shu CHEN</h3></p>
  <p> <h3>  &emsp; Email Address : <a href="mailto:Support@example.com">B10207118@mail.ntust.edu.tw</a><br /></h3></p>
</div><br />


<br /><br /><br />
<div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jean1015jean1015@gmail.com</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
</div>

{% endblock %}
