{% extends "app/layout.html" %}
{% block content %}

<div class="container">
<div class="col-md-12" >
    <br/>   <br/>
      <br/>
  <iframe src="https://docs.google.com/presentation/d/1_1L2WjDIUWUXN8q4SCDf3un2oWV8sscUhxlQjARH-JE/embed?start=true&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
</div>

{% endblock %}
<!--
linkit_go video
https://www.youtube.com/watch?v=10JgSranSLA
https://www.youtube-nocookie.com/embed/n_t5bOdY2GI-->
